@{
    ViewData["Title"] = "Empleados";
}

<h2 class="text-center mt-4">Empleados</h2>

<form>
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBox("Nombre", "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Apellido</label>
        @Html.TextBox("Apellido", "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Email</label>
        @Html.TextBox("Email", "", new { @class = "form-control", type = "email" })
    </div>

    <div class="form-group">
        <label>Teléfono</label>
        @Html.TextBox("Telefono", "", new { @class = "form-control", type = "tel" })
    </div>

    <div class="form-group">
        <label>Contraseña</label>
        @Html.Password("Contrasena", "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>RolID</label>
        @Html.TextBox("RolID", "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Fecha de ingreso</label>
        @Html.TextBox("FechaIngreso", "", new { @class = "form-control", type = "date" })
    </div>

    <div class="mt-4 text-center">
        <button type="button" class="btn btn-success">CREAR</button>
        <button type="button" class="btn btn-secondary">X Baja</button>
        <button type="button" class="btn btn-primary">Buscar</button>
    </div>
</form>
